[%- IF node_name AND 0 -%]
  [%- postcode = node_name.remove( '^.*, ' ) -%]
  [%- IF postcode -%]
    [%- district = postcode.remove( ' .*$' ) -%]
    [%- IF district == "CR0" %] (Addington/Addiscombe/Croydon/Shirley/Waddon)[% END -%]
    [%- IF district == "SE5" %] (Camberwell/Denmark Hill)[% END -%]
    [%- IF district == "SE11" %] (Lambeth/Kennington/Vauxhall)[% END -%]
    [%- IF district == "SW8" %] (Battersea/South Lambeth/Vauxhall)[% END -%]
    [%- IF district == "SW9" %] (Brixton/Stockwell)[% END -%]
    [%- IF district == "SW11" %] (Battersea/Clapham Junction)[% END -%]
  [%- END -%]
[%- END -%]