<Limit GET POST>
Order deny,allow
Deny from all
AuthType Basic
AuthName "Pubology Admin"
AuthUserFile /export/home/pubology/.htpasswd-admin
require valid-user
Satisfy any
</Limit>
DirectoryIndex index.cgi
